{% extends "base.html" %}
{% block content %}
    <div id="searchSection" class="mb-4 card-rect h-25 p-5">
        <form class="flex-center-column">
            <div id="searchBar" class="flex-center-row w-100">
                <input type="search"
                       class="textinput form-control"
                       placeholder="Search for research,people..."
                       name="event_search"
                       hx-post="/get_events"
                       hx-trigger="input changed delay:500ms, search"
                       hx-target="#eventSection"
                       hx-swap="innerHTML"
                       id="event_search">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     class="bi bi-search"
                     viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>
            </div>
            <div class="flex-center-row">
                {% for tab in "People,Research,Events,Tags"|split:"," %}
                    <button type="button" class="custom-tab d-none d-md-inline ">{{ tab }}</button>
                {% endfor %}
                <select name="search_in" id="search_in" class="form-select d-md-none ">
                    <option selected value="Search In...">Search In...</option>
                    <option value="people">People</option>
                    <option value="research">Research</option>
                    <option value="events">Events</option>
                    <option value="tags">Tags</option>
                </select>
                <select name="sort_by" id="sort_by" class="form-select">
                    <option selected value="most_recent">Most Recent</option>
                    <option value="most_relevant">Most Relevant</option>
                    <option value="most_common">Most In Common With You</option>
                </select>
                {% comment %} </ul> {% endcomment %}
            </div>
        </form>
    </div>
    <div class="container">
        <div class="row my-4">
            <div class="container p-3">
                <div id="eventSection" class="container d-flex flex-column gap-3">
                    {% comment %} {# djlint : off #}
                                                                                                    {% for ev in categories %}
                                                                                                        {% with ev.event as i %}
                                                                                                            {% include "components/research_card.html" with title=i.title description=i.description authors=i.authors.all event_type=i.get_event_type_display can_participate=i.event_type|can_participate event_id=i.pk has_participated=request.user|user_has_participated:i.pk category=ev.category %}
                                                                                                        {% endwith %}
                                                                                                    {% endfor %}
                    {# djlint : on #} {% endcomment %}
                    {% include "components/render_events.html" with categories=categories %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
