{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row my-4">
        <div class="container mb-2">
            <div class="row">
                <div class="col">
                    <h5 style="line-height: 200%;">Trending</h5>
                </div>
                <div class="col">
                    <a style="float: right;" href="" class="btn btn-primary">More ></a>
                </div>
            </div>
        </div>
        <div class="container p-3 pre-scrollable">
            <div class="container d-flex flex-column gap-3">
                {% for i in '012356789abcdefghi'|make_list %}
                <div class="card">
                    <img src="" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk
                            of
                            the
                            card's content.
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="container mb-2">
            <div class="row">
                <div class="col">
                    <h5 style="line-height: 200%;">Recommended Research</h5>
                </div>
                <div class="col">
                    <a style="float: right;" href="" class="btn btn-primary">More ></a>
                </div>
            </div>
        </div>
        <div class="container p-3 pre-scrollable">
            <div class="container d-flex flex-column gap-3">
                {% for i in '012356789abcdefghi'|make_list %}
                <div class="card">
                    <img src="" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk
                            of
                            the
                            card's content.
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="container mb-2">
            <div class="row">
                <div class="col">
                    <h5 style="line-height: 200%;">From People You Follow</h5>
                </div>
                <div class="col">
                    <a style="float: right;" href="" class="btn btn-primary">More ></a>
                </div>
            </div>
        </div>
        <div class="container p-3 pre-scrollable">
            <div class="container d-flex flex-column gap-3">
                {% for i in '012356789abcdefghi'|make_list %}
                <div class="card">
                    <img src="" class="card-img-top" alt="Image">
                    <div class="card-body">
                        <p class="card-text">
                            Some quick example text to build on the card title and make up the
                            bulk
                            of
                            the
                            card's content.
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}