{% extends "base.html" %}
{% block content %}
  {% load crispy_forms_tags %}
  {% include "update_info.html" %}
  <div class="modal fade"
       id="exampleModal"
       data-bs-backdrop="static"
       data-bs-keyboard="false"
       role="dialog"
       tabindex="-1"
       aria-labelledby="AddEventModal"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle">Create New Event</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body scroll">
          <form id="add_form" method="post" action={% url 'profile' user.id %}>
            <div class="container">{% crispy form %}</div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="submit"
                  class="btn btn-primary"
                  onclick="submitForm(() => {return checkAuthorSelected('hidden_authors')},'#add_form')">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade"
       id="editEventModal"
       data-bs-backdrop="static"
       data-bs-keyboard="false"
       role="dialog"
       tabindex="-1"
       aria-labelledby="EditEventModal"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-lg modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Edit Event</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  data-bs-target="editEventModal"
                  onclick="closeToggleModal()"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body scroll">
          <form id="edit_form" method="post" action="/update_event">
            {% csrf_token %}
            <input name="hidden_event_id" id="hidden_event_id" type="hidden">
            <div class="container">
              {% include "components/dynamic_form_input.html" with top_label="New Title" required=True single=True data="" %}
              {% include "components/dynamic_textarea_input.html" with top_label="New Description" required=True single=True data="" %}
              {% include "components/dynamic_select_input.html" with top_label="Edit Event Type" required=True single=True choices=event_types %}
              {% include "components/dynamic_autocomplete_input.html" with top_label="Edit Event Tags" required=False single=True top="40px" endpoint="/search_tags_for_user" %}
              {% include "components/dynamic_autocomplete_input.html" with top_label="Edit Authors" required=False single=True top="40px" endpoint="/search_users" %}
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="editEventHandler()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% include "components/profile/profile_picture_fragment.html" %}
    {% include "components/profile/profile_tags_skills_fragment.html" with user_profile=user.profile %}
    <div class="row mt-4">
      <div class="container">
        <div class="card w-100 p-3">
          <img src="" alt="">
          <div class="d-flex align-items-center">
            <ul class="nav nav-underline">
              <li class="nav-item">
                <button type="button"
                        class="nav-link active"
                        onclick="switchTabs('.nav.nav-underline:nth-child(1) button','.container.flex-column.mt-3',0)">
                  Research
                </button>
              </li>
              <li class="nav-item">
                <button type="button"
                        class="nav-link"
                        onclick="switchTabs('.nav.nav-underline:nth-child(1) button','.container.flex-column.mt-3',1)">
                  Events
                </button>
              </li>
            </ul>
            {% if is_current_user %}
              <a style="float: right;
                        margin: auto;
                        margin-right : 0rem"
                 href=""
                 class="btn btn-primary"
                 data-bs-toggle="modal"
                 data-bs-target="#exampleModal">+ Add Event</a>
            {% endif %}
          </div>
          {% include "components/profile/profile_events.html" %}
        </div>
      </div>
    </div>
    {% if postsignup %}<script>
    new bootstrap.Modal("#personalInfoForm").show()
</script>{% endif %}
  {% endblock content %}
</div>
