{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="container">
                <div class="card w-100 p-3 ">
                    <div class="d-flex flex-column align-item-center justify-content-center text-center">
                        <a href={{ user.avatar }}>
                            <img style="vertical-align: middle;
                                        width: 64px;
                                        height: 64px;
                                        border-radius: 50%"
                                 src="{{ user.avatar }}"
                                 alt="">
                        </img>
                    </a>
                    <h4>
                        <b>{{ user.name }}</b>
                    </h4>
                    <p>{{ user.department }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="container">
            <div class="card w-100 p-3 gap-3">
                <img src="" alt="">
                <strong>Tags</strong>
                <div class="d-flex flex-wrap gap-1 ">
                    {% with user.tags|split:"," as  tags %}
                        {% for tag in tags %}<span class="badge rounded-pill bg-secondary">{{ tag }}</span>{% endfor %}
                    {% endwith %}
                </div>
                <strong>Skills</strong>
                <ul>
                    {% with user.skills|split:"," as skills %}
                        {% for skill in skills %}<li>{{ skill }}</li>{% endfor %}
                    {% endwith %}
                </ul>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="container">
            <div class="card w-100 p-3">
                <img src="" alt="">
                <strong>Research</strong>
                <div class="container d-flex flex-column mt-3 gap-4">
                    {% for i in publications %}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ i.title }}</h5>
                                <p class="card-text">{{ i.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
