{% extends "base.html" %}
{% block content %}
  {% load crispy_forms_tags %}
  {% include "update_info.html" %}
  <div class="modal fade"
       id="exampleModal"
       data-bs-backdrop="static"
       tabindex="-1"
       aria-labelledby="AddEventModal"
       aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalCenteredScrollableTitle">Create New Event</h1>
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <form method="post" action={% url 'profile' user.id %}>
          {% csrf_token %}
          <div class="modal-body">
            <div class="container">{{ form | crispy }}</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="container"></div>
    {% include "components/profile/profile_picture_fragment.html" %}
    {% include "components/profile/profile_tags_skills_fragment.html" with user_profile=user.profile %}
    <div class="row mt-4">
      <div class="container">
        <div class="card w-100 p-3">
          <img src="" alt="">
          <div class="d-flex align-items-center">
            <strong>Research</strong>
            {% if is_current_user %}
              <a style="float: right;
                        margin: auto;
                        margin-right : 0rem"
                 href=""
                 class="btn btn-primary"
                 data-bs-toggle="modal"
                 data-bs-target="#exampleModal">+ Add Event</a>
            {% endif %}
          </div>
          <div class="container d-flex flex-column mt-3 gap-4">
            {% for i in publications %}
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ i.title }}</h5>
                  <p class="card-text">{{ i.description }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endblock content %}
</div>
