{% load static %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
<script src="{% static 'update_info.js' %}"></script>
<div class="modal fade"
     id="personalInfoForm"
     data-bs-backdrop="static"
     data-bs-keyboard="false"
     tabindex="-1"
     aria-labelledby="PersonalInfoModal"
     aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Personal Information Form</h1>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div id="top-container"
               class="container w-100 h-100 d-flex justify-items-center align-items-center m-auto">
            <div id="form-container" class="row card mt-3 p-2 w-100 m-auto">
              {# djlint:off #}
            {% for record,data in records %}
              {% include "components/dynamic_form_input.html" with top_label=record.label element_id=record.label|as_id required=record.required single=record.single existing_data=data %}
            {% endfor %}
              {# djlint:on#}
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
