<div id="div_id_{{ element_id }}" class="mb-3">
    <div class="d-flex gap-3 mb-3">
        {% if required %}
            <label class="form-label requiredField m-0 mb-1 align-content-center">
                {{ top_label }}<span class="asteriskField">*</span>
            </label>
        {% else %}
            <label class="form-label m-0  mb-1 align-content-center">{{ top_label }}</label>
        {% endif %}
        {% if not single %}
            <button class="btn btn-secondary btn-sm dynamic-form"
                    type="button"
                    onclick="addInput('{{ element_id }}')">+ Add Row</button>
        {% endif %}
    </div>
    <div class="row g-2">
        {% if not existing_data %}
            <div class="input-group mb-3">
                <input type="text"
                       name="{{ element_id }}"
                       class="textinput form-control"
                       {% if required %}required=""{% endif %}
                       {% if data %}value="{{ data }}"{% endif %}>
                {% if not single %}
                    <button class="btn btn-secondary row-remove"
                            type="button"
                            onclick="removeParent(event)">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-trash"
                             viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                        </svg>
                    </button>
                {% endif %}
            </div>
        {% endif %}
        {% for data in existing_data %}
            <div class="input-group mb-3">
                <input type="text"
                       name="{{ element_id }}"
                       class="textinput form-control"
                       {% if required %}required=""{% endif %}
                       {% if data %}value="{{ data }}"{% endif %}>
                {% if not single %}
                    <button class="btn btn-secondary row-remove"
                            onclick="removeParent(event)"
                            type="button">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             width="16"
                             height="16"
                             fill="currentColor"
                             class="bi bi-trash"
                             viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                        </svg>
                    </button>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
