{% for contact in contacts %}
    <li class="list-group-item contact"
        data-user="{{ contact.pk }}"
        onclick="addPill('{{ contact.name }}','#authors_field', 'user','{{ contact.pk }}')">
        <div class="d-flex flex-row gap-2">
            <a href="javascript:void(0)">
                <img class="avatar avatar-48 bg-light rounded-circle text-white p-1"
                     src="{{ contact.avatar }}"
                     alt="User Image">
            </a>
            <p style="line-height: 300%;">{{ contact.name }}</p>
        </div>
    </li>
{% endfor %}
