@import "utils.css";

:root {
  --link-hover-color: #0a58ca;
  --link-color: #0d6efd;
  --emphasis-color: #000;
  --underline-thickness: 0.125rem;
  --linebreak-color: #b9c9d7;
}

body {
  background-color: #f6f6f6 !important;
}

#navbar-top {
  background-color: #0a1a31;
}

#logo {
  object-fit: scale-down;
  width: 30px;
  height: 24px;
}

.btn-secondary {
  background-color: rgb(109, 143, 193) !important;
}
.bg-secondary {
  background-color: rgb(109, 143, 193) !important;
}

.btn-participate {
  position: absolute;
  right: 25px;
  top: 15px;
}

.event_type {
  margin-left: 0rem;
}

.divider {
  border-right: 1px dashed black;
}

.edit-button {
  margin-left: auto;
  margin-right: 0;
  height: 16px;
  width: 16px;
  border: none;
  background: none;
}

.edit-button:focus {
  outline: 2px dashed beige;
}

.profilepic {
  margin: auto;
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #111;
}

.profilepic:hover .profilepic__content {
  opacity: 1;
}

.profilepic:hover .profilepic__image {
  opacity: 0.5;
}

.profilepic__image {
  vertical-align: middle;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.profilepic__icon {
  color: white;
  padding-bottom: 8px;
}

.fas {
  font-size: 20px;
  fill: white;
}

.profilepic__text {
  text-transform: uppercase;
  font-size: 12px;
  width: 50%;
  text-align: center;
}

input[type="file"] {
  display: none;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.drop-area-active {
  border: 2px dashed #191970;
}

#tags-skills-fragment {
  margin-inline: 0;
}

.card-header {
  height: 3.5rem;
}

.contact {
  background-color: #f8f8f8;
  cursor: pointer;
}

.contact:hover {
  background-color: #f4f4f4;
}

.selected {
  background-color: #f4f4f4;
}

.bottom-right-fixed {
  position: fixed;
  bottom: 30px;
  right: 25px;
  z-index: 1;
}

#chat-box {
  max-width: 600px;
  width: 80%;
  height: 350px;
  bottom: 75px;
}

.hide-chat {
  position: relative;
  right: 30px;
  z-index: 2;
  top: 155px;
  background-color: #bab6b6;
}

.hide-chat:hover {
  background-color: #d2cece;
}

.message-footer {
  border-top: 1px solid #ddd;
  background: #eee;
  display: flex;
  padding-inline: 5px;
  height: 60px;
  gap: 1rem;
}
.message-footer input:nth-child(1) {
  margin: auto;
  width: 100%;
  padding: 0 10px;
  border-radius: 5px;
}

.message {
  align-self: flex-start;
  max-width: 70%;
  background: #f0f0f0;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  padding: 10px 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.me {
  align-self: flex-end;
  background: #bde2f7;
  color: #111;
}

.bi-search {
  position: relative;
  right: 45px;
}

.custom-tab {
  color: var(--link-color);
  text-decoration: none;
  padding-inline: 0;
  padding-block: 1rem;
  background: 0 0;
  border: 0;
  transition: 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
.custom-tab:hover {
  color: var(--link-hover-color);
}

.custom-tab-active {
  font-weight: 700;
  color: var(--emphasis-color);
  border-bottom: var(--underline-thickness) solid transparent;
  border-bottom-color: currentColor;
}

.custom-tab-active:hover {
  color: currentColor;
}

.linebreak-underline {
  border-bottom: var(--underline-thickness) solid var(--linebreak-color);
}

#eventSection .card:hover {
  box-shadow: 0 5px 25px -5px rgba(0, 0, 0, 0.1);
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
