.h-fit-content {
  height: fit-content;
}

.scroll {
  height: 300px;
  overflow-y: scroll;
}

.no-border {
  border-radius: 0 !important;
}

.fit-text {
  width: max-content;
  margin: auto;
  flex: 1;
}

m-inline-0 {
  margin-inline: 0px;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.flex-center-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;
}

.flex-start-row {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.flex-start-column {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.card-rect {
  background: white;
  width: 100%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-fit-content {
  width: fit-content;
}
.pre-scrollable {
  max-height: 300px;
  overflow-y: scroll;
}
.cursor-pointer {
  cursor: pointer;
}
.gap-small {
  gap: 0.175rem;
}

.card-hover {
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}

.center_to_page {
  width: 100vw;
  height: 100vh;
}

.move-right {
  margin-left: auto;
  margin-right: 0;
}

.pl-0 {
  padding-left: 0px;
}

.align-header-with-image {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

.anim-fadeup {
  animation: fade-up 0.5s;
}
