{% extends "admin/admin_base.html" %}
{% block main_content %}
    <div class="main-layout">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">BAU Rankings</h5>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Latest News</h5>
                <span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, numquam. Molestiae voluptas similique obcaecati repudiandae necessitatibus ab totam quo vel consequuntur est! Nam sint quae dolorem molestiae veritatis molestias architecto?
                </span>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Country Rank</h5>
                <span class="stat-value" id="country-rank">8</span>
                <p class="stat-description">The country rank indicates the university's position within its own country.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">World Rank</h5>
                <span class="stat-value" id="world-rank">5616</span>
                <p class="stat-description">The world rank indicates the university's position globally.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Student Enrollment</h5>
                <span class="stat-value">10,000</span>
                <p class="stat-description">The total number of students enrolled in the university.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Academic Staff</h5>
                <span class="stat-value">500</span>
                <p class="stat-description">The total number of academic staff members at the university.</p>
            </div>
        </div>
        <div class="card grid-span-col">
            <div class="card-body">
                <h5 class="card-title">Admission Rate</h5>
                <span class="stat-value">20%</span>
                <p class="stat-description">The percentage of applicants admitted to the university.</p>
            </div>
        </div>
        <div class="card grid-span-col">
            <div class="card-body">
                <h5 class="card-title">Ranking Criteria</h5>
                <div class="progress-container mt-4 flex-center-row"
                     style="animation: fade-up 0.5s">
                    {% for k,v in stats.items %}
                        <div class="progress-circle flex-center-column">
                            <div class="rating">{{ v }}</div>
                            <span>{{ k }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {{ graph_data | json_script:"graph-data" }}
    <script>
        displayProgressCircles();
        displayLineGraph();
    </script>
{% endblock main_content %}
